*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    font-size: 18px;
    margin: 0;
    background: grey;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

input,select{
    background: whitesmoke !important;
}
.container{
    max-width: 1600px;
    width: 100%;
}
table thead tr th,
table thead tr td,
table tfoot tr th,
table tfoor tr td{
    background: #000;
    color: #fff;
}
#example_filter{
    margin-bottom: 20px;
}
