<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infographics</title>
</head>
<body>
<header th:fragment="header">
    <div class="header-app">
        <nav>
            <a href="TBD">TBD</a>
            <a href="TBD">TBD</a>
            <a href="TBD">TBD</a>
        </nav>
    </div>
</header>

<footer th:fragment="footer">
    <div id="reviews" class = "content" >
        <div class="list">
            <div class="card">
                <div class="person">
                    <img src="/fig/dogo.jpg" alt="">
                    <div class="detail">
                        <div class="name">Jan</div>
                        <div class="job">tbd</div>
                    </div>
                </div>
                <div class="msg">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam maiores sunt dolor! Rerum libero et temporibus consequatur dicta, blanditiis delectus.</div>
            </div>

            <div class="card">
                <div class="person">
                    <img src="/fig/dogo.jpg" alt="">
                    <div class="detail">
                        <div class="name">Kristian</div>
                        <div class="job">tbd</div>
                    </div>
                </div>
                <div class="msg">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam maiores sunt dolor! Rerum libero et temporibus consequatur dicta, blanditiis delectus.</div>
            </div>

            <div class="card">
                <div class="person">
                    <img src="/fig/dogo.jpg" alt="">
                    <div class="detail">
                        <div class="name">David</div>
                        <div class="job">tbd</div>
                    </div>
                </div>
                <div class="msg">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam maiores sunt dolor! Rerum libero et temporibus consequatur dicta, blanditiis delectus.</div>
            </div>
        </div>
        <div class="socials">
            <a href="https://facebook.com" class="social fa fa-facebook-official"></a>
            <a href="https://instagram.com" class="social fa fa-instagram"></a>
            <a href="https://linkedin.com" class="social fa fa-linkedin"></a>
        </div>
    </div>
</footer>
</body>
</html>