<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infographics</title>
</head>
<body>
<header th:fragment="header">
    <div class="header-app">
        <nav>
            <a href="TBD">TBD</a>
            <a href="TBD">TBD</a>
            <a href="TBD">TBD</a>
        </nav>
    </div>
    <div class="user" th:if="${@userController.loggedIn}">
        <span th:text="${@userController.loggedUser}"/>
        <a href="/logout">Odhlásiť sa</a>
    </div>
    <div class="form-popup" id="registerForm">
        <form action="/register" class="form-container" method="post">
            <h1>Register</h1>
            <hr>
            <label for="userName"><b>Username</b></label>
            <input type="text" placeholder="Enter User Name" name="userName" id="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required>


            <button type="submit" class="btn">Register</button>
            <button type="button" class="btn cancel" onclick="closeRegisterForm()">Close</button>
        </form>
    </div>
    <!-- A button to open the popup form -->
    <button class="open-button-login" onclick="openLoginForm()">Log In</button>
    <button class="open-button-register" onclick="openRegisterForm()">Register</button>

    <div class="form-popup" id="loginForm">
        <form action="/login" class="form-container" method="post">
            <h1>Login</h1>
            <hr>
            <label for="userName"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="userName" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit" class="btn">Login</button>
            <button type="button" class="btn cancel" onclick="closeLoginForm()">Close</button>
        </form>
    </div>
</header>

<footer th:fragment="footer">
    <div id="reviews" class = "content" >
        <div class="list">
            <div class="card">
                <div class="person">
                    <img src="/fig/dogo.jpg" alt="">
                    <div class="detail">
                        <div class="name">Jan</div>
                        <div class="job">tbd</div>
                    </div>
                </div>
                <div class="msg">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam maiores sunt dolor! Rerum libero et temporibus consequatur dicta, blanditiis delectus.</div>
            </div>

            <div class="card">
                <div class="person">
                    <img src="/fig/dogo.jpg" alt="">
                    <div class="detail">
                        <div class="name">Kristian</div>
                        <div class="job">tbd</div>
                    </div>
                </div>
                <div class="msg">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam maiores sunt dolor! Rerum libero et temporibus consequatur dicta, blanditiis delectus.</div>
            </div>

            <div class="card">
                <div class="person">
                    <img src="/fig/dogo.jpg" alt="">
                    <div class="detail">
                        <div class="name">David</div>
                        <div class="job">tbd</div>
                    </div>
                </div>
                <div class="msg">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam maiores sunt dolor! Rerum libero et temporibus consequatur dicta, blanditiis delectus.</div>
            </div>
        </div>
        <div class="socials">
            <a href="https://facebook.com" class="social fa fa-facebook-official"></a>
            <a href="https://instagram.com" class="social fa fa-instagram"></a>
            <a href="https://linkedin.com" class="social fa fa-linkedin"></a>
        </div>
    </div>
</footer>
</body>
</html>