<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutgamestudio.html}"
      lang="sk">
<head>



    <title>GameStudio</title>
</head>

<body>
<main layout:fragment="content">

    <form th:if="not ${logged}" action="/login" method="post">
        <label for="login">Meno: </label><input id="login" type="text" name="login" minlength="1" maxlength="32" placeholder="Meno (1 - 32 znakov)" required/> <br/>
        <label for="password">Heslo: </label><input id="password" type="password" name="password"  minlength="1"   required/> <br/>
        <button type="submit">Prihlásiť sa</button>
    </form>
<!--    <form th:if="not ${existingUser}" action="/register" method="post">-->
<!--        <label for="fullName">Celé meno: </label><input id="fullName" type="text" name="fullName" maxlength="128" required/> <br/>-->

<!--        <label for="selfEvaluation">Ohodnot sa od 1 - 10: </label>-->
<!--        <select id="selfEvaluation" name="selfEvaluation">-->
<!--            <option value="1">1</option>-->
<!--            <option value="2">2</option>-->
<!--            <option value="3">3</option>-->
<!--            <option value="4">4</option>-->
<!--            <option value="5">5</option>-->
<!--            <option value="6">6</option>-->
<!--            <option value="7">7</option>-->
<!--            <option value="8">8</option>-->
<!--            <option value="9">9</option>-->
<!--            <option value="10">10</option>-->
<!--        </select> <br/>-->

<!--        <label for="country">Vyber si krajinu: </label>-->
<!--        <select id="country" name="country">-->
<!--        </select> <br/>-->

<!--        <label for="occupation">Vyber si povolanie: </label>-->
<!--        <select id="occupation" name="occupation">-->
<!--        </select> <br/>-->

<!--        <button type="submit">Registrovať sa</button>-->
<!--    </form>-->

<!--    <div th:if="${@userController.isRegistered}">-->
<!--    <form action="/login" method="post">-->
<!--    <label>Meno</label><input id="login" type="text" name="login" required/><br>-->
<!--    <label >Heslo</label><input id="password"  type="password" name="password" required/><br>-->
<!--    <label for="games">Vyber su hru:</label>-->
<!--    <select name= "games" id="games">-->
<!--        <option value="minesweeper">Minesweeper</option>-->
<!--        <option value="kamene">Kamene</option>-->
<!--        <option value=" minesweeperAsynch">minesweeperAsynch</option>-->

<!--    </select>-->

<!--    <button type="submit">Odoslat</button>-->



        <article  id="links">
            <h2>Moje obľúbené hry</h2>
            <p><a href="/minesweeper">MineSweeper</a></p>
            <p><a href="/kamene">Kamene</a></p>
            <p><a href="/battleship">Battleship</a></p>
            <p><a href="/minesweeper/asynch">MinesweeperAsynch (asynch,mod)</a></p>
            <p><a href="/kamene/asynch">KameneAsynch (asynch,mod)</a></p>


        </article>
    </form>

        </div>
</main>
</body>
</html>
