<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>

<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script type="module">

    const pg = require('pg');
    const conString = "postgres://postgres:postgres@localhost:5432/coronastudio";

    const client = new pg.Client(conString);
    client.connect();

    const query = client.query("SELECT title FROM cities LIMIT 5");

    client.connect();

    client.query("SELECT title FROM cities LIMIT 5");

    // -----------------------------------------------------------------------
    var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
    var yValues = [55, 49, 44, 24, 15];
    var barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
        "#1e7145"
    ];

    new Chart("myChart", {
        type: "pie",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            title: {
                display: true,
                text: "World Wide Wine Production 2018"
            }
        }
    });

    // ------------------------------------------------------------

    // var pg = require('pg');
    //
    // var conString = "postgres://postgres:postgres@localhost:5432/coronastudio";
    //
    //
    // var client = new pg.Client(conString);
    // client.connect();
    //
    // var query = client.query("SELECT title FROM cities LIMIT 5");
    //
    // query.on("row", function (row, result) {
    //
    //     result.addRow(row);
    // });


</script>

</body>
</html>