<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layoutGamestudio.html}"
        lang="sk">
<head>
    <title>Gamestudio - registracia</title>
</head>

<body>
<main layout:fragment="content">
    <h1>Registracia</h1>

    <form action="/newplayer" method="post">
        <label for="username"> Meno: </label> <input type="text" name="username" id="username" style="width: 20em;"
                                                     minlength="1" maxlength="32"
                                                     placeholder="Napiš svoje meno(nick) (1 - 32 znakov)" required/>
        <br>
        <label for="fullname"> Cele meno: </label> <input type="text" name="fullname" id="fullname" style="width: 20em;"
                                                          minlength="1" maxlength="128"
                                                          placeholder="Napiš svoje cele meno (1 - 128 znakov)"
                                                          required/> <br>


        <label for="evaluation"> Ohodnot sa : </label>
        <input type="number" id="evaluation" name="evaluation"
               min="1" max="10" step="1" value="5" style="width: 7em;" required><br>
        <label for="country"> Krajina povodu: </label><br>
        <select id="country" name="country">
            <option th:each="country: ${countries}"
                    th:attr="value=${countries.indexOf(country)}"
                    th:text="${@userController.getCountry(country)}">

            </option>
        </select>
        <br><br>
        <label for="occupation"> Povolanie: </label><br>
        <select id="occupation" name="occupation"><br>
            <option th:each="occupation: ${occupations}"
                    th:attr="value=${occupations.indexOf(occupation)}"
                    th:text="${@userController.getOccupation(occupation)}">

            </option>
            <br>
        </select>
        <br>
        <br>
        <br>
        <button type="submit">Registrovat</button>
    </form>
    <br>
    <br>
</main>
</body>
</html>